.btn {
    @apply font-bold py-2 px-4 rounded disabled:opacity-50 hover:disabled:bg-opacity-50;
}
.btn-outline {
    @apply bg-transparent border border-gray-700 text-gray-900 hover:bg-gray-700 hover:text-white hover:border-transparent;
}
.btn-outline-red {
    @apply bg-transparent border border-red-700 text-red-700 hover:bg-red-700 hover:text-white hover:border-transparent;
}
.btn-blue {
    @apply bg-blue-500 text-white hover:bg-blue-700;
}
.btn-blue-degrade {
    @apply bg-gradient-to-tl from-blue-900 to-gray-900 text-white hover:from-blue-700 hover:to-gray-700;
}
.btn-red {
    @apply bg-red-500 text-white hover:bg-red-700;
}
.btn-green {
    @apply bg-green-500 text-white hover:bg-green-700;
}
.btn-gray {
    @apply bg-gray-500 text-white hover:bg-gray-700;
}
